@{
    ViewData["Title"] = "Home Page";
}

<div id="home">
    <div class="main-container">
        <div class="landing-greet-container">
            <div class="parallax greet-row greet-row-1" data-speed="-1">
                <div class="fade-in-3-5 greet-letter" id="simon-s">
                    <img src="~/images/S_lt_b.png" />
                </div>
                <div class="fade-in-0-5 greet-letter" id="simon-i">
                    <img src="~/images/i_lt_b.png" />
                </div>
                <div class="fade-in-4 greet-letter" id="simon-m">
                    <img src="~/images/m_lt_b.png" />
                </div>
                <div class="fade-in-1 greet-letter" id="simon-o">
                    <img src="~/images/o_lt_b.png" />
                </div>
                <div class="fade-in-2-5 greet-letter" id="simon-n">
                    <img src="~/images/n_lt_b.png" />
                </div>
            </div>
            <div style="animation-delay: 3s;" class="parallax fade-in-2 greet-row greet-row-2" data-speed="-1">
                <div class="greet-letter" id="is-i">
                    <img src="~/images/i_lt_mg.png" />
                </div>
                <div class="greet-letter" id="is-s">
                    <img src="~/images/s_lt_mg.png" />
                </div>
            </div>
            <div style="animation-delay: 5s;" class="parallax fade-in-3 greet-row greet-row-3 float" data-speed="-.5" data-float-minamp="3" data-float-maxamp="7">
                <div class="greet-letter" id="is-s">
                    <img src="~/images/LIVE_lt.png" />
                </div>
            </div>
            <div class="button-container" style="animation-delay: 5s;">
                <a href="https://github.com/thewiffedshot" target="_blank" class="btn btn-lg btn-desktop-purple github-btn">
                    <img src="~/images/github_logo.png" /><span> GitHub</span>
                </a>
                <a href="https://www.linkedin.com/in/simeon-laplev-459641168/" target="_blank" class="btn btn-lg btn-desktop-purple github-btn">
                    <img src="~/images/linkedin_icon_logo.png" /><span> LinkedIn</span>
                </a>
            </div>
            <img class="netcore parallax float skill-label" data-speed="-5" data-float-minamp="10" data-float-maxamp="15" src="~/images/netcore_parallax.png" />
            <img class="csharp parallax float skill-label" data-speed="-7" data-float-minamp="10" data-float-maxamp="15" src="~/images/csharp_parallax.png" />
            <img class="js parallax float skill-label" data-speed="10" data-float-minamp="5" data-float-maxamp="15" src="~/images/javascript_parallax.png" />
            <img class="css parallax float skill-label" data-speed="6" data-float-minamp="5" data-float-maxamp="15" src="~/images/css_parallax.png" />
        </div>
    </div>
</div>

<script src="~/js/perlin_sampler.js"></script>
